#wrap {width : 700px; margin : auto}
body {background : #f2f2f2 url(../graphics/bg.jpg) repeat-x; height:100%}
html {height : 100%}
#logo img {  height : 100px; padding: 50px; margin-top:-30px}
table#view {
    border : 0px;
}
#banner img { height : 110px; padding: 50px; margin-top:-30px;}
#logo { width: 400px; height: 100px}
#main {margin-top:50px;background : #222 url(../graphics/data.jpg) repeat-x;max-height:390px; overflow : auto; padding:15px; border: 2px solid white}
#header {background : #222 url(Graphics/menybg.jpg) repeat-x}
#banner img { width : 300px}
#banner { height : 100px; float: right; margin-top: -100px}
#menu ul { overflow: hidden;  margin-left:320px; padding-left:100px}
#menu ul li {float:left; padding-left:80px; margin-right: 35px; color: white}
#list tr {float:left;  color: gray}
#menu{ margin-left: -400px; margin-top: 60px; padding: 20px; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:16px}
td{padding: 15px; width: 580px}
#footer {   position:relative;  
    background: #222 url(../graphics/bg.jpg) repeat-x;  
    color: #fff;
    list-style: none;
    font-size: 1.2em;
    padding: 10px 20px; 
    bottom:0;
    width: 100%;
    box-sizing: border-box;
text-align: center;
clear:both;}
h1 {color:blue; font-size:20px}
input#searchbtn {margin-top: -12px;}
img#display {height: 100px; width: 150px; margin: 10px;border: 1px solid red; }
img#displaye {height: 500px; width: 550px; margin: 10px;border: 1px solid red; }
table#thead  { color : green; font-size: 18px; font-weight:bold}
#top h4{ Color: red; font:200; margin: 20px}

table#addevent img {height: 150px; width : 150px; border: 1px solid black; padding: 2px;margin: 5px;}
#search { float : right; margin-top: 50px; padding: 20px;}
#search button{ margin-top: -10px}
#asearch { width: 350px; clear: both; float: right; border: 2px solid white; color: white; background :  url(../graphics/menubg.jpg); display:none; z-index:9999}
#bottom{text-align: center;}
.paging-list{ width: auto; float: left; margin: 0px 10px;}
.paging-list > li{ display: inline; }
.viewEvents, .viewEvents td, .viewEvents th{border: 1px solid #222; padding: 1px; text-align: center;}
.viewEvents{margin: 4%;}
.viewEvents td a{margin-right: 15px;}
table#adressTable {width: 150px}
#loadAddress { width: 350px; clear: both; float: left; border: 2px solid white; margin-left: 20px; color: white; background :  url(../graphics/menubg.jpg); display:none}
#directions {margin-left:20px}
#gooogleMap {
    height: 1000px;
    width: 1000px;
    position: relative;
    
}